	body {background: #444; margin:0; padding:0;}

#viewport-container {
	position: relative;
	width: 3840px;
	height: 1080px;
}
#frame {
	height:1080px; width:3840px; background: url(../img/frame.png) no-repeat top left; position: absolute; top:0; left:0; z-index:2;
}

.page-section {
	display: none;
}

.animation-image {
	display:none;
	max-width: 100%;
}

#zoom-parent {
	background: url('../img/out-spots.jpg') 0px 0px no-repeat;
	position: absolute;
	width: 3840px;
	height: 1080px;
	overflow: hidden;
	z-index:1;
}



	 /*BOTH LEFT AND RIGHT NAVIGATION*/
#left-nav-wrap {height:900px; width:200px; margin:90px 0 0 -20px; float: left; position: relative; overflow: hidden; z-index:10;}
#right-nav-wrap {height:900px; width:200px; margin:90px -20px 0 0px; float: right; position: relative; overflow: hidden; z-index:10;}


#logo-wrap {height:250px; width:200px; background: url(../img/logo.jpg) no-repeat top left;}

nav {height:0; width:200px; position: absolute; bottom:100px; left:0; background: #4d4d4d;  transition: all 1s ease;}
nav.open {height:550px; width:200px; position: absolute; bottom:101px; left:0; background: #4d4d4d;}
nav ul {padding:0; margin:0;}
nav ul li {height:110px; color:#fff; text-transform: uppercase; text-align: center; border-top:1px solid #a6a6a6; position: relative;  font-family: 'Gotham-Bold'; text-shadow: 0px -1px #000; letter-spacing: 2px;}
nav ul li span {padding:36px 0 0 0; display: block; font-size:12px; text-transform: lowercase;  font-family: 'Didot-HTF-L11-Light-Ital'; text-shadow: 0px -1px #000; font-size:18px; color: #d3d3d3; line-height: 1;}

.menu-toggle {height:101px; width:200px; position: absolute; bottom:0; left:0;  background: url(../img/button_bg.png) no-repeat top left; }



/*ZOOMED OUT VIEW
#zoom-parent {position: relative;}
/* #zoom-parent #map-img-zoomed-out {z-index:1; position: absolute; top:0px; left:0px;} 
#zoom-parent .animation-image { z-index:1; position: absolute; top:0px; left:0px; } */

/*ZOOMED IN AND OUT CONTROLS*/
#zoom-controls-wrapper {height:60px; width:280px; position: absolute; bottom:0; left:50%; margin:0 0 0 -140px; z-index:99999;}
#zoom-controls {height: 60px; width: 160px; background: #999; position: relative; background: #282d2e; color: #fff; font-family: 'Gotham-Medium'; text-transform: uppercase; font-size:22px; text-align: center; line-height:3;}
#zoom-controls #zoom_out {height: 60px; width:60px; position: absolute; top: 0; left:-60px; background: #5f6769; text-align: center; color: #fff; font-size: 52px; font-weight: lighter; line-height:1; font-family: arial; }
	#zoom-controls #zoom_out.on {background: #1baf97;}
#zoom-controls #zoom_in  {height: 60px; width:60px; position: absolute; top: 0; right:-60px; background: #5f6769; text-align: center; color: #fff; font-size: 52px; font-weight: 100; line-height:1.2; font-family: arial;}
	#zoom-controls #zoom_in.on {background: #1baf97;}



/*ZOOMED OUT HOT SPOTS*/
.hotspot-dot {height:32px; width:32px; margin:0px; position: absolute; z-index:6; background: #1baf97; display: block; border-radius: 30px; box-shadow:1px 3px 10px rgba(000,000,000,0.8); opacity:1; transition: all 1s ease;}
.hotspot-dot .border {height:40px; width: 40px; z-index:2;  border:3px solid #1baf97; position: absolute; border-radius: 42px; top:-7px; left:-7px;}
.hotspot-dot.on .border{ -webkit-animation: hotspot-on 1.5s infinite;}

@-webkit-keyframes hotspot-on {
0% {border-width:3px;}
100% {border-width: 3px; opacity:0;
}}


.hotspot-wrap {position: relative;}
#hotspots-in .hotspot-popup {opacity:0;height:460px; width:900px; position: absolute;  z-index:9; background: #fff; box-shadow: 5px 1px 30px rgba(000,000,000,0.5); transition: all 1s ease; pointer-events: none;}
	.hotspot-popup img {height:460px; width:540px; float: left;}
	.hotspot-popup .content {height:460px; width:315px; margin:0 0 0 25px; float: left;}
	.hotspot-popup .close {position: absolute; top:20px; right:20px; height:40px; width:40px; background: url(../img/close.gif) no-repeat top left;}
	.hotspot-popup h1 {padding:70px 0 0px 0; margin:0; text-align: center; text-decoration: uppercase;} 
	.hotspot-popup h2 {padding:0 0 20px 0; margin:0; text-align: center; background: url(../img/divider.gif) no-repeat bottom center; color: #1baf97; font-family: "Didot-HTF-L11-Light-Ital";}
	.hotspot-popup .content p  {text-align: center; line-height: 1.6; font-size:14px !important; font-family: arial;}

#hotspots-in .hotspot-popup.on {height:460px; width:900px; opacity:1; position: absolute; z-index:9;}

#hotspots-out .hotspot-popup {opacity:0; height:30px; width: auto; white-space: nowrap; padding: 4px 20px 0 20px; position: absolute;  z-index:9; top:-50px; left:-40px; background: #fff; box-shadow: 5px 1px 30px rgba(000,000,000,0.5); transition: all 1s ease; pointer-events: none;}
#hotspots-out .hotspot-dot.on .hotspot-popup {height:30px; width: auto; opacity:1; position: absolute; z-index:9;}


#zo-hotspot-1 {top:92px;  left:1282px;}
#zo-hotspot-2 {top:560px; left:1226px;}
#zo-hotspot-3 {top:446px; left:1594px;}
#zo-hotspot-4 {top:614px; left:1610px;}
#zo-hotspot-5 {top:558px; left:1988px;}
#zo-hotspot-6 {top:994px; left:1690px;}
#zo-hotspot-7 {top:394px; left:2066px;}
#zo-hotspot-8 {top:428px; left:2232px;}
#zo-hotspot-9 {top:890px; left:2406px;}
#zo-hotspot-10 {top:876px; left:2700px;}
#zo-hotspot-11 {top:335px; left:2700px;}
#zo-hotspot-12 {top:396px; left:2800px;}
#zo-hotspot-13 {top:810px; left:2854px;}

#zi-hotspot-1 {top:674px;  left:1180px;}
#hotspot-popup-1 {top:170px;  left:910px;}

#zi-hotspot-2 {top:476px; left:1240px;}
#hotspot-popup-2 {top:170px;  left:1320px;}

#zi-hotspot-3 {top:446px; left:1592px;}
#hotspot-popup-3 {top:180px;  left:1674px;}

/*#zi-hotspot-4 {top:960px; left:1646px;}
#hotspot-popup-4 {}*/

#zi-hotspot-5 {top:686px; left:1966px;}
#hotspot-popup-5 {top:400px;  left:2042px;}

#zi-hotspot-6 {top:460px; left:2126px;}
#hotspot-popup-6 {top:200px;  left:2202px;}

#zi-hotspot-7 {top:330px; left:2246px;}
#hotspot-popup-7 {top:100px;  left:2312px;}

#zi-hotspot-8 {top:398px; left:2546px;}
#hotspot-popup-8 {top:100px;  left:2612px;}

#zi-hotspot-9 {top:204px; left:2860px;}
#hotspot-popup-9 {top:280px;  left:2712px;}

#hotspots-in .hotspot-dot {opacity:0;}
#hotspots-in.delete-hotspots .hotspot-dot {opacity:0; pointer-events: none;}
#hotspots-in.show-hotspots   .hotspot-dot {opacity:1;}

#hotspots-out {}
#hotspots-out.delete-hotspots .hotspot-dot {opacity:0; pointer-events: none;}
#hotspots-out.show-hotspots   .hotspot-dot {opacity:1;}

/*PAGES*/
.page-wrap-left {  height: 0px; width: 0px; margin:300px 0 0 0; background: #fff; position: absolute; z-index:20; box-shadow: 5px 1px 30px rgba(000,000,000,0.5); transition: all 1s ease;}
.page-wrap-left.open {height: 590px; width: 1140px; margin:0 0 0 0 ;}

.page-wrap-right {height: 0px; width: 0px; margin:300px 0 0 0; background: #fff; position: absolute; z-index:20; box-shadow: 5px 1px 30px rgba(000,000,000,0.5); transition: all 1s ease;}
.page-wrap-right.open {height: 590px; width: 1140px; margin:0 0 0 0 ;}

/*.page-inner {position: relative;}*/

.close-pages {position: absolute; top:20px; right:20px; font-size:40px;}

.page-wrap-left .left-arrow { width: 0;
					height: 0;
					display: block;
					border-style: solid;
					border-width: 0px 0px 0px 0;
					border-color: transparent #ffffff transparent transparent; content: ""; margin:0px 0 0 10px; transition: all 1s ease;}

.page-wrap-left.open .left-arrow {margin:280px 0 0 -28px; border-width: 30px 30px 30px 0;}



.page-wrap-right .right-arrow { width: 0;
								height: 0;
								border-style: solid;
								border-width: 0;
								border-color: transparent transparent transparent #fff; content: ""; margin:0px 10px 0 0; float:right; transition: all 1s ease;}

.page-wrap-right.open .right-arrow {margin:280px -28px 0 0px; border-width: 30px 0 30px 30px;}


#page-views-left {left:200px;}
#page-views-right {right:200px;}



/*MOVE INTO SEPERATE STYLE SHEET - fix me */



.panorama-viewport {
	position: relative;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: left;
}
.panorama-container {
	position: relative;
	width: 100000px;
	margin: 0;
	padding: 0;

}
.panorama-control {
	position: absolute;
	display: none;
	padding: 0;
	margin: 0;
	bottom: 50%;
	left: 0;
	width: 100%;
	height: 30px;
	opacity:1;
	text-align: left;
}
.panorama-control-left, .panorama-control-right, .panorama-control-pause { 
	padding: 10px 0 0 0;
	margin: 0;
	color: white;
	text-decoration: none;
	font-size: 60px;
	line-height: 30px;
	height:80px; 
	width: 80px;
	background: #1BAF97;
	text-align: center;
	font-family: 'Arial',sans-serif;
}

.panorama-control-left {float: left;}
.panorama-control-right {float: right;}

.panorama-control-left:hover {text-decoration: none; color: #fff;} 
.panorama-control-right:hover {text-decoration: none; color: #fff;}

.panorama-control-pause {
	display: none;
}
.panorama-panel {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	background: #009cff;
	opacity:1;
	color: white;
	padding: 4px;
}
.panorama-panel h2 {
	font-size: 11px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	text-align: right;
}
.panorama-panel ul {
	display: none;
}
.panorama {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
}

.panorama-area {
	border: 2px solid white;
	filter: alpha(opacity=20);
	opacity: .2;
	background: black;
	font-size: 100%;
	cursor: pointer;
	text-decoration: none;
	color: white;
	text-align: right;
}
.panorama-area-hover {
	background: #0080e2;
	cursor: pointer;
} 

.area0-hover {
	background: #ff7e00;
}
.area1-hover {
	background: #25bf5b;
}
.panorama-title {
 	position: absolute; 
	right: 0;
	top: 0; 
	font-size: 16px; 
	font-family: Verdana;
	background: gray;
	padding: 3px;
	filter: alpha(opacity=50);
	opacity: .5;
}










